.c-btn {
    width: 307px;
    height: 72px;
    display: flex;
    margin: 0 auto;
    background-color: #325dff;
    border: 1px solid #325dff;
    border-radius: 36px;


    a {
        
        display: inline-flex;
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background-color: #325dff;
        border: 1px solid #325dff;
        border-radius: 36px;
        align-items: center;
        justify-content: center;
       text-decoration: none;  
        letter-spacing: 4.2px;
        color: #FFFFFF;
        opacity: 1;

    }

    &--card{

        margin: 0;

    }


}